<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="John Ortiz O.">
    <meta id="state" data-state="{{state}}">

    <title>Item Catalog - WebApp</title>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="{{client_id}}">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/alertify.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/themes/default.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
    <div class="d-flex" id="wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/alertify.js')}}"></script>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>